// theme olors
$primary-green-light: #ebf5f4;
$primary-green-main: #0a584f;
$primary-green-dark: #024139;
$dusty-green: #c2dad7;
$mint-green-light: #98f0e0;
$mint-green: #3fe4c5;
$yellow: #fef335;

// base colors
$white: #fff;
$black: #000;
