@import "styles/_colors.scss";
@import "styles/_spacing.scss";
@import "styles/_breakpoints.scss";

.root {
  width: 100%;
  position: fixed;
  z-index: 10;
  padding: spacing(2);

  @include breakpoints-up("md") {
    max-width: 375px;
    position: static;
    padding: 0;
  }
}

.customField {
  position: relative;
  border-radius: 70px;

  & input {
    width: 100%;
    padding: 12px;
    font-family: "Baton Turbo";
    font-size: 15px;
    border: 2px solid $primary-green-main;
    background: $primary-green-light;
    border-radius: 70px;
    color: $primary-green-main;
    transition: border-color 0.2s ease;

    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;

    &:focus {
      outline: none;
      border-color: $mint-green;

      & ~ .submitBtn {
        background-color: $mint-green;
      }
    }

    &::placeholder {
      font-family: "Baton Turbo";
      color: $primary-green-main;
      font-size: 15px;
    }

    @include breakpoints-up("md") {
      padding: 20px;
      color: $white;
      border-color: $primary-green-main;
      background: $primary-green-main;

      &:focus {
        outline: none;
        border-color: $yellow;

        & ~ .submitBtn {
          background-color: $yellow;

          & .submitIcon > path {
            fill: $primary-green-main;
          }
        }
      }

      &::placeholder {
        color: $white;
      }
    }
  }
}

.submitBtn {
  width: 34px;
  height: 34px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 100%;
  border: none;
  background-color: $primary-green-main;
  transition: background-color 0.2s ease;

  @include breakpoints-up("md") {
    width: 50px;
    height: 50px;
    background-color: transparent;
  }
}

.submitIcon {
  width: 24px;
  height: 24px;

  & path {
    fill: $primary-green-light;
    transition: fill 0.2s ease;
  }

  @include breakpoints-up("md") {
    width: 34px;
    height: 34px;

    & path {
      fill: $white;
    }
  }
}
