@import "styles/_colors.scss";
@import "styles/_spacing.scss";
@import "styles/_breakpoints.scss";

.root {
  width: 100%;
  position: fixed;
  z-index: 10;
  padding: spacing(2);

  @include breakpoints-up("md") {
    max-width: 375px;
    position: static;
    padding: 0;
  }
}

.form {
  position: relative;
}

.customField {
  position: relative;
  border-radius: 70px;

  & input {
    width: 100%;
    padding: 12px;
    font-family: "Baton Turbo";
    font-size: 15px;
    border: 2px solid $primary-green-main;
    background: $primary-green-light;
    border-radius: 70px;
    color: $primary-green-main;
    transition: border-color 0.2s ease;

    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }

    &:focus {
      outline: none;
      border-color: $mint-green;
    }

    &::placeholder {
      font-family: "Baton Turbo";
      color: $primary-green-main;
      font-size: 15px;
    }

    @include breakpoints-up("md") {
      padding: 20px;
      color: $white;
      border-color: $primary-green-main;
      background: $primary-green-main;

      &:focus {
        outline: none;
        border-color: $yellow;
      }

      &::placeholder {
        color: $white;
      }
    }
  }
}

.submitIcon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);

  & path {
    fill: $primary-green-main;
    transition: fill 0.2s ease;
  }

  @include breakpoints-up("md") {
    width: 34px;
    height: 34px;

    & path {
      fill: $white;
    }
  }
}

.options {
  width: 100%;
  position: absolute;
  background-color: $white;
  border-radius: 15px;
  top: spacing(7);
  z-index: 1;
  padding: spacing(2, 0);

  @include breakpoints-up("md") {
    background-color: $primary-green-light;
    top: spacing(9);
  }
}

.option {
  padding: spacing(1, 2);
  cursor: pointer;
  text-align: left;

  // button reset
  width: 100%;
  font-family: "Baton Turbo";
  font-size: 15px;
  color: $primary-green-main;
  border: none;
  display: block;
  background: transparent;

  &:hover,
  &:focus-visible {
    background-color: $dusty-green-light;
    outline: none;
  }
}
