@import "styles/_colors.scss";
@import "styles/_spacing.scss";
@import "styles/_breakpoints.scss";

@keyframes loadingDesktop {
  0% {
    fill: $mint-green-light;
  }
  50% {
    fill: $yellow;
  }
  100% {
    fill: $mint-green-light;
  }
}

@keyframes loading {
  0% {
    fill: $primary-green-main;
  }
  50% {
    fill: $dusty-green;
  }
  100% {
    fill: $primary-green-main;
  }
}

.root {
  position: relative;
  padding-bottom: spacing(2);
  background-color: $primary-green-light;
  height: 100vh;

  @include breakpoints-up("md") {
    background-color: $primary-green-dark;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: spacing(2);
    justify-content: center;
    padding: spacing(3);
  }
}

.loader {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include breakpoints-up("md") {
    width: 27%;
    max-width: 400px;
  }
}

.loaderText {
  font-size: 16px;
  color: $primary-green-main;
  margin-bottom: spacing(2);
  text-align: left;

  @include breakpoints-up("md") {
    font-size: 20px;
    color: $mint-green-light;
  }
}

.loaderIcon {
  & path {
    animation: loading 2s linear infinite;
  }

  @include breakpoints-up("md") {
    & path {
      animation: loadingDesktop 2s linear infinite;
    }
  }
}

.container {
  position: relative;
  overflow: auto;
  background-color: $primary-green-light;
  @include breakpoints-up("md") {
    grid-column: span 1;
    padding: spacing(4, 2, 2);
    border-radius: 20px;
  }
}

.firstCol {
  @include breakpoints-down("md") {
    display: none;
  }
}

.firstColContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: spacing(5);
  text-align: left;
}

.temp {
  position: relative;
  font-size: 80px;
  font-family: "Baton Turbo Regular";
  font-weight: 300;
  color: $white;
  line-height: 1;

  &::after {
    content: "°";
    top: 1px;
    position: absolute;
    font-size: 40px;
  }
}

.location {
  font-family: "Baton Turbo Regular";
  font-size: 20px;
  font-weight: 300;
  color: $white;
}

.date {
  font-family: "Baton Turbo Regular";
  font-size: 14px;
  font-weight: 300;
  color: $white;
}

.searchField {
  @include breakpoints-up("md") {
    display: none;
  }
}

.weatherData {
  display: flex;
  justify-content: space-between;
  padding: spacing(11, 2, 5);

  @include breakpoints-up("md") {
    display: none;
  }
}

.weatherDataDate {
  display: block;
  text-align: left;
}

.weatherDataTemp {
  position: relative;
  font-size: 40px;
  margin-right: 9px;

  &::after {
    content: "°";
    top: 1px;
    position: absolute;
    font-size: 22px;
  }
}

.weatherDataFooter {
  margin-top: spacing(5);
}

.weatherDataMain {
  font-size: 38px;
}

.weatherDataDescription {
  font-size: 12px;
  font-family: "Baton Turbo Regular";
}

.weatherDataParams {
  display: flex;
  justify-content: space-evenly;
  margin-top: spacing(4);
  font-size: 14px;

  span {
    display: block;
  }
}
