@import "styles/_colors.scss";

@font-face {
  font-family: "Baton Turbo";
  font-display: swap;
  font-weight: 400;
  src: url(./fonts/BatonTurboWebTrial-Book.woff2) format("woff2");
}

@font-face {
  font-family: "Baton Turbo";
  font-display: swap;
  font-weight: 600;
  src: url(./fonts/BatonTurboWebTrial-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Baton Turbo Regular";
  font-display: swap;
  font-weight: 400;
  src: url(./fonts/BatonTurboWebTrial-Regular.woff2) format("woff2");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Baton Turbo";
  color: $primary-green-main;
  background-color: $primary-green-light;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
